Day_1/input.txt
Day_2/input.txt
Day_3/input.txt
Day_4/input.txt
Day_4/test.txt
Day_5/test.txt
Day_5/input.txt
Day_9/input.txt
Day_7/test.txt
Day_9/test.txt
Day_8/test.txt
Day_8/input.txt
Day_7/input.txt
Day_6/input.txt
Day_6/test.txt
